<html>
  <head>
  </head>
  <body>
    <div>
        <h1 style="text-align:center; color:navy">
          SafeServe Metro - Contact Us Form Submission Copy
        </h1>
        <h4 style="text-align:center">
          Hello, you requested we send you a copy of the contact us form you submitted to SafeServe Metro. Below are the details:
          Please give up to 24 hours for a response. We will contact you as soon as possible.
        </h4>
        <hr style="width: 95%">
        <table
        style="width: 80%; margin-left: auto; margin-right: auto; border: 1px solid black; margin-top: 1%;">
          <tr>
            <td style="border: 1px solid black; padding: 5px; width: 10%; text-align: center;">
              <b>Full Name:</b>
            </td>
            <td style="border: 1px solid black; padding: 5px;">
              {{fullName}}
            </td>
          </tr>
          <tr>
            <td style="border: 1px solid black; padding: 5px; width: 10%; text-align: center;">
              <b>Email:</b>
            </td>
            <td style="border: 1px solid black; padding: 5px;">
              {{emailAddress}}
            </td>
          </tr>
          <tr>
            <td style="border: 1px solid black; padding: 5px; width: 10%; text-align: center;">
              <b>Phone:</b>
            </td>
            <td style="border: 1px solid black; padding: 5px;">
              {{phoneNumber}}
            </td>
          </tr>
          <tr style="min-height: 100px">
            <td style="border: 1px solid black; padding: 5px; width: 10%; text-align: center;">
              <b>Message:</b>
            </td>
            <td style="border: 1px solid black; padding: 5px;">
              {{message}}
            </td>
          </tr>
    </div>
  </body>
</html>