<html>
  <head>
  </head>
  <body>
        <h1 style="text-align:center; color:navy">
          SafeServe Metro - Purchase Confirmation
        </h1>
        <hr>
        <p style="text-align:left">Hello,</p>
        <br>
        <p style="text-align:left">
          You've recently purchased the package: <b>{{packagePurchased}}</b> from SafeServe Metro.
          <br>
          <br>
          You will be receving a separate email with your access code(s) to login to the SafeServe Metro website.
          In addition, you will also be receiving a certificate of enrollment that will serve as proof of 
          enrollment in the food safety course. You will receive all of this information in a
          seperate email within 48 hours of your purchase.
          <br>
          <br>
          If you have any questions, please contact us at <a href="mailto:customersupport@safeservemetro.com">customersupport@safeservemetro.com</a>.
          <br>
          <br>
          Thank you,
          <br>
          SafeServe Metro
        </p>
  </body>
</html>