.logoimg {
    margin-top: 10px;
    padding-top: 15px;
    left: 0;
    width: 50vw;
    height: auto;
    position: absolute;
}

.navbar {
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.logoimg_mobile {
    display: none;
}

.navbar-nav > li{
    padding-top: 1vh;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #0066ff 100%);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.2vw;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link .btn {
    color: grey;
}

#login_btn, #coursematerial_btn {
    font-size: 1vw;  
    margin-left: 0.5vw;
}

li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform .3s;
}

li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.btn > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.bg-servsafe_light {
    background-color: #00c3ff;
    color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.nav-item {
    cursor: pointer;
}

#mobile_login_btn { 
    display: none;
}

/* TABLET ZONE - PORTRAIT MODE*/
@media screen and (max-width: 834px)
{
    .logoimg {
        display: none;
    }

    .logoimg_mobile {
        width: 80%;
        display: block;
        margin-top: 15px;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 100%);
    }

    .navbar-toggler {
        color: #000;
    }

    .navbar-nav .nav-item .nav-link {
        color: grey;
        padding-left: 10px;
        font-size: 1.5vw;
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: black;
        background-color: rgba(0, 132, 255, 0.2);
        border-radius: 4px;
    }

    #login_btn {
        display: none;
    }

    #mobile_login_btn { 
        display: block;
    }
}

/* PHONE ZONE - All CSS here is reponsible for mobile devices <= 768px in width*/
@media screen and (max-width: 768px) 
{
    .navbar-nav .nav-item .nav-link {
        color: white;
        font-size: 1vw;
    }

    .logoimg {
        display: none;
    }

    .logoimg_mobile {
        display: block;
        width: 100%;
        padding-top: 10px;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 100%);
    }

    .navbar-toggler {
        color: #000;
    }

    .navbar-nav .nav-item .nav-link {
        color: grey;
        padding-left: 10px;
        font-size: 3vw;
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: black;
        background-color: rgba(0, 132, 255, 0.2);
        border-radius: 4px;
    }

    #login_btn {
        display: none;
    }

    #mobile_login_btn { 
        display: block;
    }
}

